<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>欢迎访问南京邮电大学<br>通达学院科协Online Judge!<br>在这里，尽情编程，锻炼和展现你的编码能力吧！</h1>
                        <a href="https://acm.tdsastc.cn" class="btn btn-outline btn-xl page-scroll">立即开始</a>
                        <a href="/blog" class="btn btn-outline btn-xl page-scroll">查看博客</a>
                        <iframe height="800" allowTransparency="true" style="width:100%;border:none;overflow:auto;" frameborder="0" src="http://contestenroll.mikecrm.com/6B4c28r"></iframe>
                    </div>
                </div>
            </div>
             <div class="col-sm-5">
                <div class="device-container">
                    <!-- <div class="device-mockup iphone6_plus portrait white"> -->
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="http://tdsast-1252477461.cossh.myqcloud.com/3.png?sign=wwDeHWwafvISv9PasQY813Q1XXJhPTEyNTI0Nzc0NjEmaz1BS0lENTRyUm95ZGpMbzU5MmlRWmloVDJPcEJOTUNwR3VaUDImZT0xNTE2NDYzNDAzJnQ9MTUxMzg3MTQwMyZyPTE4OTIyNTUzNDAmZj0vMy5wbmcmYj10ZHNhc3Q=" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
